*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

/****************************  MOBILE *****************************/

/******* NAV *******/
    nav{
        background-color: #0084FD;
        padding: 20px 0;
    }

    .container-nav{
        max-width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container-nav i{
        color: white;
        font-size: 20px;
    }

    li{
        list-style: none;
        display: inline-block;
        margin: 0 6px;
    }

    nav ul li:last-child{
        padding: 4px;
        background-color: rgb(29, 165, 51);
        border-radius: 20px;
    }

    nav ul li{
        display: none;
    }

                /********** Header **********/

    header{
        max-width: 85%;
        margin: 0 auto;
    }

/***** container 1 *****/
    .container-header{
        max-width: 85%;
        margin: 0 auto;
        background-color: #b5ddff;
        margin-top: 2rem;
        border-radius: 20px;
        padding-top: 2rem;
    }

    .box-header{
        max-width: 85%;
        margin: 0 auto;
    }

    .box-1 p{
        margin-bottom: 2rem;
    }

    .box-header a{
        color: white;
        background-color: #0084FD;
        padding: 10px 60px;
        border-radius: 20px;
    }

    .box-header img{
        margin-top: 40px;
    }

    /***** container 2 *****/
    .center{
        text-align: center;
    }

    .center i{
        font-size: 75px;
        color: #0084FD;
    }

    .box-2, .box-3, .box-4, .box-5 {
        padding-bottom: 1rem;
    }

                    /******** MAIN ***********/

    /********** STRATEGIC SECTION *************/


    .viola{
        background-color: #9792E4;
        margin-top: 3rem;
        padding: 3rem 0;
    }

    .strategic{
        max-width: 85%;
        margin: 0 auto;
    }

    .strategic-white{
        background-color: white;
        margin-top: 3rem;
        text-align: center;
        border-radius: 30px;
    }

    .fa-arrow-down{
        margin: 2rem 0;
        padding: 1rem;
        background-color: #9792E4;
        border-radius: 50%;
    }

    /********** TESTIMONIALS SECTION *************/
    .testimonials{
        max-width: 85%;
        margin: 0 auto;
        text-align: center;
        margin-top: 3rem;
    }

    .testimonial-1{
        background-color: #9792E4;
        margin-top: 3rem;
        padding: 2rem 0;
        border-radius: 30px
    }

    .radius{
        height: 12rem;
        width: 12rem;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        background-position: center;
    }

    .castano{
        background-image: url(./assets/img/testimonial1.jpg);
    }

    .donna{
        background-image: url(./assets/img/testimonial2.jpg);
    }

    .biondo{
        background-image: url(./assets/img/testimonial3.jpg);
    }

/********** SECTION CARDS ************/

    .card{
        max-width: 85%;
        margin: 0 auto;
        background-color: white;
        border-radius: 30px;
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;
    }

    .title-cards h3{
        text-align: center;
        margin: 2rem 0 4rem 0;
    }

    .card:last-child{
        margin-bottom: 0;
    }

    .number{
        font-size: 4rem;
        color: #9792E4;
    }

    .box-card h4{
        margin: 1rem 0;
        color: #9792E4;
    }

    .box-card p{
        margin-bottom: 2rem;
    }

    .box-card a{
        color: white;
        background-color:#9792E4;
        padding: 0.6rem 2.5rem;
        border-radius: 20px;
    }



/**************************  TABLET  ***************************/

@media screen and (min-width: 426px) {
    header{
        display: flex;
        flex-wrap: wrap;
    }
    
    .container-header{
        flex-basis: calc(100% / 3 - 2%);
    }

    .demo-application{
        flex-basis: calc(100% / 3 * 2 - 2%);
    }

    .box-1 div img{
        width: 70%;
    } 



    /******** MAIN *********/

    .strategic div img{
        width: 60%;
        margin: 0 auto;
    }

    /******** CARDS *******/

    






}
/**************************  PORTATILE ***************************/

@media screen and (min-width: 769px) {
    
    /************* NAV **************/
    .container-nav i{
        display: none;
    }

    nav ul li{
        display: inline-block;
    }

    /***************** HEADER ******************/
    
    .box-1{
        display: flex;
    }

    header{
        max-width: 75%;
        margin: 0 auto;
    }

    /***************** MAIN ******************/

    /**** STRATEGIC ****/
    
    .strategic div img{
        width: 40%;
        margin: 0 auto;
    }

    .strategic{
        max-width: 75%;
        margin: 0 auto;
    }

    .strategic{
        display: flex;
    }

    .testimonials{
        max-width: 75%;
        margin: 0 auto;
    }





}


















    /* li{
        list-style: none;
        display: inline-block;
        margin: 0 6px;

    }

    nav ul li:last-child{
        padding: 4px;
        background-color: black;
        border-radius: 20px;
    } */



